*{
    box-sizing: border-box;
}

.input-search-location {
    padding: 8px 0;
    height: auto;
    border: 3px solid #ffc709;
    border-radius: 10px;
    line-height: 1.25;

  }
  .input-arrow {
    padding: 8px 0;
    height: auto;
    line-height: 1.25;
  }

  .d-inline-flex {
    display: inline-flex !important;
  }

  .align-items-center {
    align-items: center !important;
  }
  /* Độ co của phần tử */
  .flex-shrink-0 {
    flex-shrink: 0!important;
}
/* để lấp đầy không gian dư thừa. */
.flex-grow-1 {
    flex-grow: 1!important;
}
.bold-option {
    font-weight: bold;
}
.text-search{
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.search-item{
  color: #ffc709 !important;
}